<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <span>Filtrar</span>
    <span class="spacer-row"></span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="create()">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput required [matDatepicker]="pickerStar" [readonly]="true" formControlName="dateStar"
               placeholder="Fecha Inicio">
        <mat-datepicker-toggle matSuffix [for]="pickerStar"></mat-datepicker-toggle>
        <mat-datepicker #pickerStar></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput required [matDatepicker]="pickerEnd" [readonly]="true" formControlName="dateEnd"
               placeholder="Fecha Final">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="close()" mat-flat-button>Cancelar</button>
      <span class="spacer-row"></span>
      <button [disabled]="!form.valid" color="primary" type="submit" mat-flat-button>Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
