<app-table-toolbar
  [title]="title"
  [loader]="loader"

  (new)="newInventory()"
  (refresh)="ngOnInit()"
  (search)="filter($event)"></app-table-toolbar>
<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="position"> No.</th>
      <td mat-cell *matCellDef="let i = index"> {{count(i)}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre De Departamento</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (onMenuOpen)="setProduct(element)" [matMenuTriggerFor]="menuProduct">
          <mat-icon>more_vertical</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" showFirstLastButtons (page)="sety($event)"></mat-paginator>
<mat-menu #menuProduct="matMenu">
  <button *ngIf="auth.getRol() == 'Supervisor'" mat-menu-item (click)="detail()">
    <mat-icon>info</mat-icon>
    <span>Personal</span>
  </button>
  <button *ngIf="auth.getRol() == 'Supervisor'" mat-menu-item (click)="detailInventory()">
    <mat-icon>info</mat-icon>
    <span>Inventario</span>
  </button>
  <button *ngIf="auth.getRol() != 'Supervisor'" mat-menu-item (click)="edit()">
    <mat-icon>mode_edit</mat-icon>
    <span>Editar</span>
  </button>
  <button *ngIf="auth.getRol() != 'Supervisor'" mat-menu-item (click)="delete()">
    <mat-icon>delete</mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>

