<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <span>Personal</span>
    <span class="spacer-row"></span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="create()">
  <mat-card >
    <mat-card-content>
      <mat-form-field >
        <input formControlName="name" matInput placeholder="Nombre Personal">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="close()" mat-flat-button>Cancelar</button>
      <span class="spacer-row"></span>
      <button [disabled]="!form.valid" color="primary" type="submit" mat-flat-button>Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
