<app-table-toolbar [title]="title" [loader]="loader" (new)="newProduct()" (refresh)="ngOnInit()"></app-table-toolbar>
<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="position"> No.</th>
      <td mat-cell *matCellDef="let i = index"> {{count(i)}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="rol">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>
    <ng-container matColumnDef="department">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Departamento</th>
      <td mat-cell
          *matCellDef="let element"> {{element.department ? element.department : 'ADMINISTRADOR DEL SISTEMA'}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="getUser()" mat-icon-button [disabled]="element.id_rol == 1" (onMenuOpen)="setType(element)"
                [matMenuTriggerFor]="menuProduct">
          <mat-icon>more_vertical</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" showFirstLastButtons (page)="sety($event)"></mat-paginator>
<mat-menu #menuProduct="matMenu">
  <!--  <button *ngIf="editable()" mat-menu-item (click)="edit()">-->
  <!--    <mat-icon>mode_edit</mat-icon>-->
  <!--    <span>Editar</span>-->
  <!--  </button>-->
  <button mat-menu-item (click)="reset()">
    <mat-icon>undo</mat-icon>
    <span>Resetear Contrase&ntilde;a</span>
  </button>
  <button mat-menu-item (click)="delete()">
    <mat-icon>delete</mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>

