<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <span>Resetear Contrase&ntilde;a</span>
    <span class="spacer-row"></span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="create()">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input formControlName="email" disabled type="email" matInput placeholder="Correo">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="name" disabled type="text" matInput placeholder="Nombre de Usuario">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" matInput placeholder="Contraseña">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="close()" mat-flat-button>Cancelar</button>
      <span class="spacer-row"></span>
      <button [disabled]="!form.valid" color="primary" type="submit" mat-flat-button>Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
