.menu-navigation{
  width: 350px;
  height: 100%;
  //overflow: hidden auto;
}
.mat-toolbar.mat-primary {
  background: #eeeeee;
  color: #505050;
}
.img{
  background: #3848a1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto 15px auto auto;
}
.active-r{
  background: #cccccc;
}

div.user-name {
  position: relative;
  margin-top: 20px;

  mat-card-title {
    display: block;
    line-height: 0;
  }
}
