<div class="menu-navigation">
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <mat-toolbar-row>
      <button mat-icon-button *ngIf="sideService.sideLeft" (click)="sideService.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="img"><img src="/assets/user.svg" alt=""></div>
      <div class="user-name">
        <mat-card-title *ngIf="authService.getUser()">{{user.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="authService.getRol()">{{authService.getRol()}}</mat-card-subtitle>
      </div>
      <span class="spacer-row"></span>
      <button mat-icon-button matTooltip="Salir" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-selection-list>
    <button mat-menu-item type="button" *ngFor="let fol of items" [routerLink]="fol.route" routerLinkActive="active-r">
      <mat-icon mat-list-icon>{{fol.icon}}</mat-icon>
      {{fol.name}}
    </button>
    <button mat-menu-item type="button" (click)="open()">
      <mat-icon mat-list-icon>lock</mat-icon>
      Cambiar mi Contrase&ntilde;a
    </button>
  </mat-selection-list>
</div>
<!--<mat-menu #menu="matMenu">-->
<!--  <button mat-menu-item (click)="logout()">-->
<!--    <mat-icon>exit_to_app</mat-icon>-->
<!--    <span>Salir</span>-->
<!--  </button>-->
<!--</mat-menu>-->
