<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <span>Usuario</span>
    <span class="spacer-row"></span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="create()">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-select formControlName="id_rol" placeholder="Rol">
          <mat-option *ngFor="let rol of roles" [value]="rol.id">
            {{rol.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="idAdmin()">
        <mat-select formControlName="id_inventory" [required]="isRequired()" placeholder="Departamento">
          <mat-option *ngFor="let inventory of inventories" [value]="inventory.id">
            {{inventory.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" type="email" matInput placeholder="Correo">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="name" type="text" matInput placeholder="Nombre de Usuario">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" matInput placeholder="Contraseña por defecto">
        <mat-hint>El usuario debe cambiar la contrase&ntilde;a la primera ves.</mat-hint>
      </mat-form-field>
      <!--      <mat-form-field>-->
      <!--        <input formControlName="confirm_password" type="password" matInput placeholder="Repetir Contraseña">-->
      <!--      </mat-form-field>-->
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="close()" mat-flat-button>Cancelar</button>
      <span class="spacer-row"></span>
      <button [disabled]="!form.valid" color="primary" type="submit" mat-flat-button>Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
