<app-table-toolbar
  [title]="title"
  [loader]="loader"
  (refresh)="ngOnInit()"
  [onSearch]="false"
  [onNew]="false"
  (search)="filter($event)"></app-table-toolbar>
<div class="table-container">
  <table mat-table matSort [dataSource]="personals">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="position"> No.</th>
      <td mat-cell *matCellDef="let i = index"> {{count(i)}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre Personal</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" showFirstLastButtons (page)="sety($event)"></mat-paginator>


