<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <span>Producto</span>
    <span class="spacer-row"></span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="create()">
  <mat-card >
    <mat-card-content>
      <mat-form-field >
        <input formControlName="name" matInput placeholder="Nombre Producto">
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="id_unity" placeholder="Unidad">
          <mat-option *ngFor="let unity of unities" [value]="unity.id">
            {{unity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="close()" mat-flat-button>Cancelar</button>
      <span class="spacer-row"></span>
      <button [disabled]="!form.valid" color="primary" type="submit" mat-flat-button>Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
