.container{
  background: #eaeaea;
  width: 100%;
  height: 100%;
  position: absolute;
}
.header-content{
  background: #3f51b5;
  width: 100%;
  height: 130px;
  position: absolute;
}
.overlay-content{
  //background: #00000033;
  //background: #0000001c;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 10;
}
.router-primary-content{
  position: relative;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px -4px #38383878;
  overflow: hidden;
}
.mat-drawer-container{
  width: 100%;
  height: 100%;
}
.mat-drawer-content{
  overflow: hidden !important;
}
mat-drawer{
  border-right: solid #bbbbbb 1px;
}
@media only screen and (max-width: 1280px) {
  .router-primary-content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

  }
}
@media only screen and (min-width: 1280px) {
  .router-primary-content{
    margin: 18px auto;
    width: 92%;
    height: calc(100% - 36px);
  }
}

@media only screen and (min-width: 1400px) {
  .router-primary-content{
    margin: 18px auto;
    width: 80%;
    height: calc(100% - 36px);
  }
}
@media only screen and (min-width: 1401px) {
  .router-primary-content{
    margin: 18px auto;
    width: 72%;
    height: calc(100% - 36px);
  }
}
