<div class="container">
  <div class="header-content"></div>
  <div class="overlay-content">
    <div *ngIf="existUser()" class="router-primary-content">
      <mat-sidenav-container [ngStyle]="hidden()" *ngIf="!sideService.isMobile()">
        <mat-sidenav [opened]="sideService.sideLeft" mode="side">
          <app-panel-navigation *ngIf="user()"></app-panel-navigation>
        </mat-sidenav>
        <!--        <mat-sidenav [opened]="sideService.sideRight" mode="side" position="end">-->
        <!--          <app-panel-right></app-panel-right>-->
        <!--        </mat-sidenav>-->
        <div *ngIf="sideService.sideRight" class="overlay-content">
        </div>
        <router-outlet></router-outlet>
      </mat-sidenav-container>
      <mat-sidenav-container (backdropClick)="close('backdrop')" *ngIf="sideService.isMobile()">
        <mat-sidenav [opened]="sideService.sideLeft" (keydown.escape)="close('escape')" disableClose>
          <app-panel-navigation *ngIf="user()"></app-panel-navigation>
        </mat-sidenav>

        <mat-sidenav-content>
          <!--          <p><button mat-button (click)="sidenav.open()">Open</button></p>-->
          <!--          <p>Closed due to: {{reason}}</p>-->
          <div *ngIf="sideService.sideRight" class="overlay-content"></div>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <div *ngIf="!existUser()">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
