<form (ngSubmit)="login()" [formGroup]="form">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesion</mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Correo o Usuario</mat-label>
          <input required formControlName="email" matInput placeholder="Correo o Usuario">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input required [type]="password" formControlName="password" matInput placeholder="Contraseña">
          <button type="button" tabindex="-1" matSuffix mat-icon-button *ngIf="password == 'text'"
                  (click)="password = 'password'">
            <mat-icon>visibility</mat-icon>
          </button>
          <button type="button" tabindex="-1" matSuffix mat-icon-button *ngIf="password == 'password'"
                  (click)="password = 'text'">
            <mat-icon>visibility_off</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button style="width: 100%" mat-flat-button color="primary" type="submit">Aceptar</button>
      </mat-card-actions>
  </mat-card>
  <div class="load" *ngIf="loader">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</form>
