<app-table-toolbar
  [title]="title"
  [loader]="loader"
  [onPrint]="true"
  (print)="filterDate()"
  (new)="newReception()"
  (refresh)="ngOnInit()"
  (search)="filter($event)"></app-table-toolbar>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="position"> No. </th>
      <td mat-cell *matCellDef="let i = index"> {{count(i)}} </td>
    </ng-container>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto</th>
      <td mat-cell *matCellDef="let element"> {{element.product}} </td>
    </ng-container>
    <ng-container matColumnDef="unity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad</th>
      <td mat-cell *matCellDef="let element"> {{element.unity}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 80px"> Cantidad</th>
      <td mat-cell *matCellDef="let element" class="number"> {{element.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 80px"> Registrado Por</th>
      <td mat-cell *matCellDef="let element" class="number"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 120px"> Fecha Registro</th>
      <td mat-cell *matCellDef="let element" style="width: 120px"> {{element.date | datePipe}} </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (onMenuOpen)="setProduct(element)" [matMenuTriggerFor]="menuProduct"><mat-icon>more_vertical</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" showFirstLastButtons (page)="sety($event)"></mat-paginator>
<mat-menu #menuProduct="matMenu">
  <button mat-menu-item (click)="edit()">
    <mat-icon>mode_edit</mat-icon>
    <span>Editar</span>
  </button>
  <button mat-menu-item (click)="delete()">
    <mat-icon>delete</mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>

