<form (ngSubmit)="login()" [formGroup]="form">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesion</mat-card-title>
      <mat-card-subtitle>Debe cambiar su contrase&ntilde;a</mat-card-subtitle>
    </mat-card-header>
    <!--     -->
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Correo o Usuario</mat-label>
        <input required formControlName="email" matInput placeholder="Correo o Usuario">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña Actual</mat-label>
        <input required [type]="lastPassword" formControlName="lastPassword" matInput placeholder="Contraseña Actual">
        <button type="button" tabindex="-1" matSuffix mat-icon-button *ngIf="lastPassword == 'text'"
                (click)="lastPassword = 'password'">
          <mat-icon>visibility</mat-icon>
        </button>
        <button type="button" tabindex="-1" matSuffix mat-icon-button *ngIf="lastPassword == 'password'"
                (click)="lastPassword = 'text'">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nueva Contraseña</mat-label>
        <input required [type]="newPassword" formControlName="newPassword" matInput placeholder="Nueva Contraseña">
        <button type="button" tabindex="-1" matSuffix mat-icon-button *ngIf="newPassword == 'text'"
                (click)="newPassword = 'password'">
          <mat-icon>visibility</mat-icon>
        </button>
        <button type="button" tabindex="-1" matSuffix mat-icon-button *ngIf="newPassword == 'password'"
                (click)="newPassword = 'text'">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repetir nueva Contraseña</mat-label>
        <input required [type]="repeatNewPassword" formControlName="repeatNewPassword" matInput
               placeholder="Repetir nueva Contraseña">
        <button type="button" tabindex="-1" matSuffix mat-icon-button *ngIf="repeatNewPassword == 'text'"
                (click)="repeatNewPassword = 'password'">
          <mat-icon>visibility</mat-icon>
        </button>
        <button type="button" tabindex="-1" matSuffix mat-icon-button *ngIf="repeatNewPassword == 'password'"
                (click)="repeatNewPassword = 'text'">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button style="width: 100%" mat-flat-button color="primary" type="submit">Aceptar</button>
    </mat-card-actions>
  </mat-card>
  <div class="load" *ngIf="loader">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</form>
