.login-card {
  width: 300px;
  margin: 150px auto;
}

mat-form-field {
  width: 100%;
}

form {
  width: 330px;
  position: relative;
  margin: auto;
  top: 100px;
}

.load {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000017;
  top: 0;
}
