/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//*:not(.mat-icon){
//  font-size: 12px !important;
//}
body{
  margin: 0;
  padding: 0;
  border: 0;
}
.mat-elevation-z1 {
  box-shadow: none;
  border-bottom: solid 1px #e0e0e0;
}
.mat-icon-button{
  overflow: hidden !important;
}
.spacer-row {
  flex: 1 1 auto;
}
.number{
  text-align: right;
}
.position{
  width: 40px !important;
}
td.mat-cell, th.mat-cell{
  padding: 0 15px !important;
}
.table-container{
  width: 100%;
  height: calc(100% - 121px);
  overflow: hidden auto;
}

mat-dialog-container mat-toolbar-row:not(.delete) {
  background: #3f51b5;
  color: white;
}
.mat-dialog-container {
  padding: 0 !important;
}
form {
  mat-card{
    margin: 0 !important;
    width: auto !important;
    mat-card-actions{
      display: flex !important;
    }
  }
}



