<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <span>Reporte de Productos</span>
    <span class="spacer-row"></span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="accept()">
  <mat-card>
    <mat-card-content>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="type">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season.value">
          {{season.text}}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="isDate()">
        <mat-form-field>
          <input matInput required [matDatepicker]="pickerStar" [readonly]="true" formControlName="dateStar"
                 placeholder="Fecha Inicio">
          <mat-datepicker-toggle matSuffix [for]="pickerStar"></mat-datepicker-toggle>
          <mat-datepicker #pickerStar></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput required [matDatepicker]="pickerEnd" [readonly]="true" formControlName="dateEnd"
                 placeholder="Fecha Final">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-flat-button>Cancelar</button>
      <span class="spacer-row"></span>
      <button color="primary" [disabled]="!isDisabled()" type="submit" mat-flat-button>Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
